blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

body, button, input, select, textarea {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}
input[type=search]::-webkit-input-placeholder{
  color: #ccc;
}
input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance: none; /* 此处只是去掉默认的小× */
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:#ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#ccc;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}

address, cite, dfn, em, var {
  font-style: normal
}

code, kbd, pre, samp {
  font-family: courier new, courier, monospace
}

small {
  font-size: 12px
}

ol, ul {
  list-style: none
}

a {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a, a:hover, a:active {
  text-decoration: none;
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

legend {
  color: #000
}

fieldset, img {
  border: 0
}

button, input, select, textarea {
  font-size: 100%
}

button {
  border-radius: 0;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
}
